[package]
name = "backend"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.100"
dotenvy = "0.15.7"
sqlx = { version = "0.8.6", features = [
    "runtime-tokio-rustls",
    "postgres",
    "macros",
] }
sqlx-cli = "0.8.6"
tokio = { version = "1.48.0", features = ["full"] }
